.business__container {
    width: 100%;
    /* min-height: 40vh; */
    z-index: 20;
    display: flex;
    margin-top: 6rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}
.scroll{
    width: 130px;
    margin: 0 auto;
}
@keyframes business {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.call_play {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    height: 70px;
    max-width: 400px;
    align-items: center;
    color: var(--primary);
    margin: 0 auto;
}
.call_play .bx {
    color: var(--light);
    animation: playM 2s infinite linear;
}
.call_play p{
    animation: discover 2s infinite linear;
}
.call_play:hover {
    cursor: pointer;
}
.call_play:hover .bx-play-circle {
    animation: none;
}
@keyframes playM {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes play {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        translate: 10px 0;
    }

    100% {
        transform: scale(1);
    }
}
@keyframes discover {
    0% {
        transform: scale(1);
    }

    50% {
        rotate: 0deg;
        transform: scale(1);
        color: var(--primary);
    }

    53% {
        rotate: 0.5deg;
    }

    56% {
        rotate: -0.5deg;
    }

    59% {
        rotate: 0.5deg;
    }

    62% {
        rotate: -0.5deg;
        transform: scale(1.05);
        color: var(--success);
    }

    65% {
        rotate: 0.5deg;
    }

    68% {
        rotate: -0.5deg;
    }

    71% {
        rotate: 0deg;
        transform: scale(1);
        color: var(--primary);
    }

    100% {
        /* color: var(--light); */
    }
}

.business {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 220px;
    position: relative;
    bottom: 0;
    z-index: 23;
    margin: 0 auto;
}
.business> :nth-child(1) {
    animation: shadow 10s infinite 0s linear;
}

.business> :nth-child(2) {
    animation: shadow 10s infinite 2s linear;
}

.business> :nth-child(3) {
    animation: shadow 10s infinite 4s linear;
}

.business> :nth-child(4) {
    animation: shadow 10s infinite 6s linear;
}

.business> :nth-child(5) {
    animation: shadow 10s infinite 8s linear;
}

.business_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(7, 7, 7) 40%, rgb(162, 162, 162) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 23;
    transition: translate .5s ease-out;
}

.business_circle div {
    background: linear-gradient(-45deg, rgb(7, 7, 7) 40%, rgb(252, 252, 254) 100%);
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business_circle img {
    width: 70%;
}

.business:hover .business_circle {
    translate: -52px -52px;
    animation: none;
    box-shadow: none;
}

.business_rectangle {
    width: 200px;
    height: 150px;
    border-radius: 15%;
    background: linear-gradient(45deg, rgb(7, 7, 7) 40%, rgb(130, 129, 129) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px white;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s linear;
}

.business:hover .business_rectangle {
    opacity: 1;
}

.business_info {
    background: linear-gradient(135deg, rgb(7, 7, 7) 50%, rgb(217, 217, 218) 100%);
    width: 192px;
    height: 142px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.cintillo {
    width: 100%;
    height: .6rem;
    position: absolute;
    top: 0;
    background-color: var(--primary);
}

.business_info h2 {
    color: var(--primary);
    font-size: 1.3rem;
    position: absolute;
    top: .7rem;
    right: 2rem;
}

@keyframes shadow {
    0% {
        box-shadow: 0 0 20px var(--light);
    }

    25% {
        box-shadow: 0 0 20px var(--primary);
    }

    40% {
        box-shadow: 0 0 20px var(--light);
    }

    55% {
        box-shadow: 0 0 20px var(--secondary);
    }

    70% {
        box-shadow: 0 0 20px var(--light);
    }

    85% {
        box-shadow: 0 0 20px var(--success);
    }

    100% {
        box-shadow: 0 0 20px var(--light);
    }
}

@media screen and (min-width: 900px) {
    .business__container {
        height: 270px;
        position: absolute;
        bottom: 1rem;
        display: flex;
        justify-content: space-around;
        animation: business 1.5s linear;
    }
    .call_play {
        position: absolute;
        flex-direction: row;
        top: 0rem;
        left: calc(50% - 180px);
        font-size: 1.7rem;
        gap: 1rem;
    }
    .call_play .bx {
        animation: play 2s infinite linear;
    }
    .business:nth-child(1),
    .business:nth-child(3),
    .business:nth-child(5) {
        align-self: flex-end;
    }
}