:root {
    --primary: #43D682;
    --secondary: #5F58D6;
    --success: #D6CC32;
    --light: #FFFFFF;
    --dark: #000;
    --dark_sec: #1D4020;
}
.hero{
    width: 100%;
    position: relative;
    height: calc(100vh - 3.5rem);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.writter {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: #fff;
    width: 100%;
    max-width: 1000px;
    height: 55vh;
    z-index: 1;
    margin-top: 2rem;
}
.logo{
    width: 40%;
    max-width: 150px;
    display: block;
    margin: 0 auto;
    animation: logo 1.5s 1 ease-out;
}
.Typewriter{
    /* margin-top: 2rem; */
    width: 90%;
    max-width: 800px;
    height: 100px;
    text-align: center;
    line-height: 1.5rem;
}
.Typewriter span{
    font-size: 2.2rem;
    line-height: 2.5rem;
    background-clip: text;
    font-weight: 800;
    filter: drop-shadow(0 0 1px var(--light));
    background: linear-gradient(36deg, rgba(67,214,130,1) 0%, rgba(77,89,221,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img_container {
    min-height: calc(100vh - 3.5rem);
    position: absolute;
    top: calc(0 + 3.5rem);
    right: 0;
}
.slider {
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.one {
    animation: slider 36s infinite 0s linear;
}
.two {
    animation: slider 36s infinite 12s linear;
}
.three {
    animation: slider 36s infinite 24s linear;
}

@keyframes logo {
    0%{
        transform: scale(.4);
        left: -50vw;
    }
    100%{
        transform: scale(1);
        left: 0;
    }
}
.particles{
    position: relative;
    z-index: 20;
}

@keyframes slider {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width: 900px) {
    .hero{
        height: calc(100vh - 4.5rem);
    }
    .writter{
        height: 50vh;
    }
    .logo {
        position: absolute;
        width: 150px;
        left: 0;
    }
    .Typewriter{
        text-align: left;
        line-height: 3.5rem;
        height: 8rem;
        align-self: flex-end;
    }
    .Typewriter span{
        font-size: 3rem;
    }
    .call_play{
        top: -3rem;
    }
    .img_container{
        width: 100%;
        min-height: calc(100vh - 4
        .5rem);
        top: calc(0 + 4.5rem);
    }
}