:root {
    --primary: #43D682;
    --secondary: #5F58D6;
    --success: #D6CC32;
    --light: #FFFFFF;
    --dark: #000;
    --dark_sec: #1D4020;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.relative{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    z-index: 23;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1150px;
    justify-content: space-evenly;
    padding: 3rem 0;
}
.seccion_titulo{
    width: 100%;
    height: 10rem;
    font-size: 2.5rem;
    color: var(--primary);
    filter: drop-shadow(1px 1px 1px var(--light));
}
.seccion_contenido{
    background-color: var(--light);
    box-shadow: 0 0 10px var(--light);
    background-image: url("../../assets/img/fondo-sec1.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: #000;
}
.ia{
    height: 100vh;
    background-image: url("../../assets/img/fondo-sec2a.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.cuarter{
    width: 100%;
    max-width: 450px;
    height: 100vw;
    max-height: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .text_seccion_ads{
} */
/* .video_ads_contain{
} */
.video{
    position: relative;
    height: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .video_ads_contain p{
    margin-top: -2rem;
} */
.relative_one{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: var(--secondary);
    top: 0;
    right: 0;
}
.relative_two{
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: var(--dark_sec);
    bottom: 0;
    left: 0;
}
.video_ads_contain iframe{
    position: relative;
    z-index: 25;
}
.img_ads{
    width: 100%;
    /* margin-top: 3rem; */
}
.pestañas{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pestañas h4{
    width: 30%;
    height: 1.8rem;
    background-color: var(--secondary);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0 ;
    margin: 0;
    cursor: pointer;
}
.texto_dinamico{
    margin-top: -3px;
    width: 100%;
    border: 1px solid var(--secondary);
    height: 180px;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.texto_dinamico button{
    width: 120px;
    display: block;
    margin: 0 auto;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--primary);
    color: var(--light);
}

/* Section 2 */
.media_section{
    position: relative;
    z-index: 20;
    width: 100%;
    height: auto;
    padding: 2em;
    background: rgb(9, 9, 121);
    background:
        linear-gradient(
            219deg, rgba(9, 9, 121, 1) 54%,
            rgb(9, 95, 110) 100%
        );
}

.bg-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    z-index: 0;
    object-fit: contain;
}

.header_section{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.header_section > :nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2em;
    min-width: 30%;
    flex-wrap: wrap;
}

.header_section > :nth-child(1) > h2{
    font-size: 1.8em;
}

.header_section > :nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.header_section > :nth-child(2) > iframe{
    position: relative;
    padding: 1em;
}

.icon_container{
    width: 250px;
    height: 250px;
    padding: 1em;
}

.icon_container > img{
    width: 100%;
    object-fit: contain;
}

.subHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    padding: 1em;
}


.media_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.media_box{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    padding: 1em;
}

.bg-2 {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
}

.mediaImg_container{
    display: grid;
    place-content: center;
    width: 350px;
}

.mediaImg_container > img{
    width: 100%;
}

.main_offert{
    display: flex;
    width: 35em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
}

.main_offert > :nth-child(1){
    width: 70%;
    text-align: center;
    font-size: 1.2em;
}

.offert_services{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 1em;
    gap: 1em;
}

.service_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.service_item > img{
    width: 45px;
}

.section_foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.section_foot > :nth-child(1){
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
    width: 70%;
}

.buttons_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    padding: 1em;
    gap: 1.5em;
}

.buttons_box > a{
    display: grid;
    place-content: center;
    width: 90%;
    height: 35px;
    text-decoration: none;
    border-radius: 1em;
    font-weight: bold;
    color: var(--light);
}

.buttons_box > a:hover{
    transform: scale(1.1);
}


.buttons_box > :nth-child(1){
    background-color: var(--primary);
}

.buttons_box > :nth-child(2){
    border: 2px solid var(--primary);
}