@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap');

:root {
    --primary: #43D682;
    --secondary: #5F58D6;
    --success: #D6CC32;
    --light: #FFFFFF;
    --dark: #000;
    --dark_sec: #1D4020;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: black;
/* font-family: 'Press Start 2P', cursive; */
}
.presentation{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
.img_container{
    position: relative;
    z-index: 2;
    top: calc(0 + 4.5rem);
    width: 100%;
    height: calc(100vh - 4.5rem);
}
.slider{
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.one{
    animation: slider 36s infinite 0s linear;
}
.two{
    animation: slider 36s infinite 12s linear;
}
.three{
    animation: slider 36s infinite 24s linear;
}
@keyframes slider {
    0%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    position: relative;
    width: 150px;
    left: 80px;
    top: 15%;
}
.business__container{
    width: 100%;
    height: 270px;
    position: absolute;
    bottom: 0;
    z-index: 4;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.business{
    position: relative;
    height: 220px;
    width: 220px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.business_circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(7, 7, 7) 40%, rgb(162, 162, 162) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    transition: translate .5s ease-out;
}
.b_one, .b_three, .b_five{
    align-self: flex-end;
}
.c_one{
    animation: shadow 10s infinite 0s linear;
}
.c_two{
    animation: shadow 10s infinite 2s linear;
}
.c_three{
    animation: shadow 10s infinite 4s linear;
}
.c_four{
    animation: shadow 10s infinite 6s linear;
}
.c_five{
    animation: shadow 10s infinite 8s linear;
}

.business_circle div{
    background: linear-gradient(-45deg, rgb(7, 7, 7) 40%, rgb(252, 252, 254) 100%);
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.business_circle img{
    width: 70%;
}
@keyframes shadow {
    0%{
        box-shadow: 0 0 20px var(--light);
        /* filter: drop-shadow(0 0 20px var(--light)); */
    }
    25%{
        box-shadow: 0 0 20px var(--primary);
        /* filter: drop-shadow(0 0 20px var(--primar)); */
    }
    40%{
        box-shadow: 0 0 20px var(--light);
        /* filter: drop-shadow(0 0 20px var(--light)); */
    }
    55%{
        box-shadow: 0 0 20px var(--secondary);
        /* filter: drop-shadow(0 0 20px var(--secondary)); */
    }
    70%{
        box-shadow: 0 0 20px var(--light);
        /* filter: drop-shadow(0 0 20px var(--light)); */
    }
    85%{
        box-shadow: 0 0 20px var(--success);
        /* filter: drop-shadow(0 0 20px var(--success)); */
    }
    100%{
        box-shadow: 0 0 20px var(--light);
        /* filter: drop-shadow(0 0 20px var(--light)); */
    }
}
.business_rectangle{
    width: 200px;
    height: 150px;
    border-radius: 15%;
    background: linear-gradient(45deg, rgb(7, 7, 7) 40%, rgb(130, 129, 129) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px white;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s linear;
}
.rec{
    background: linear-gradient(135deg, rgb(7, 7, 7) 50%, rgb(217, 217, 218) 100%);
    width: 192px;
    height: 142px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.cintillo{
    width: 100%;
    height: .6rem;
    position: absolute;
    top: 0;
    background-color: var(--primary);
}
.rec h2{
    color: var(--primary);
    font-size: 1.3rem;
    position: absolute;
    top: .7rem;
    right: 2rem;
}
.business:hover .business_rectangle{
    opacity: 1;
}
.business:hover .business_circle{
    translate: -52px -52px;
    animation: none;
    box-shadow: none;
}

.writter{
    position: absolute;
    top: 200px;
    left: 17%;
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    width: 80%;
    height: 100px;
    z-index: 20;
}