@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,200;1,400&display=swap');

:root {
    --primary: #43D682;
    --secondary: #5F58D6;
    --success: #D6CC32;
    --light: #FFFFFF;
    --dark: #000;
    --dark_sec: #1D4020;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Fira Sans', sans-serif;
    background-color: black;
/* font-family: 'Press Start 2P', cursive; */
}
.particles-js{
    width: 90%;
    height: 100vh;
    border-radius: 0 800px 0 0;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    overflow: hidden;
}
.presentation{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
nav{
    position: relative;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 4.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid var(--primary);
    padding: .1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoHeader{
    width: 230px;
}
.logoHeader img{
    width: 100%;
}
.menu{
    width: 500px;
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}
.menu div{
    overflow: hidden;
    position: relative;
}
.menu img{
    height: 100%;
    position: absolute;
    left: -70px;
    z-index: 4;
}
.menu a{
    text-decoration: none;
    color: var(--primary);
    height: 2rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
    font-weight: 600;
}
.menu div:hover .destello{
    animation: destello .7s 1 linear;
}
@keyframes destello {
    0%{
        left: -70px;
    }
    100%{
        left: 70px;
    }
}
.social-media{
    width: 200px;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}
.social-media a{
    background-color: var(--primary);
    color: #000;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    box-shadow: 1px 1px 2px white;
}
.img_container{
    position: relative;
    z-index: 2;
    top: calc(0 + 4.5rem);
    width: 100%;
    height: calc(100vh - 4.5rem);
}
.slider{
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.one{
    animation: slider 36s infinite 0s linear;
}
.two{
    animation: slider 36s infinite 12s linear;
}
.three{
    animation: slider 36s infinite 24s linear;
}
@keyframes slider {
    0%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.logo{
    position: relative;
    width: 150px;
    left: 80px;
    top: 15%;
}
.business__container{
    width: 100%;
    height: 270px;
    position: absolute;
    bottom: 0;
    z-index: 4;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.business{
    position: relative;
    height: 220px;
    width: 220px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 20px var(--light))
}
.business_circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgb(7, 7, 7) 40%, rgb(162, 162, 162) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    transition: translate .5s ease-out;
}
.b_one, .b_three, .b_five{
    align-self: flex-end;
}
.b_one{
    animation: shadow 10s infinite 0s linear;
}
.b_two{
    animation: shadow 10s infinite 2s linear;
}
.b_three{
    animation: shadow 10s infinite 4s linear;
}
.b_four{
    animation: shadow 10s infinite 6s linear;
}
.b_five{
    animation: shadow 10s infinite 8s linear;
}
.business_circle div{
    background: linear-gradient(-45deg, rgb(7, 7, 7) 40%, rgb(252, 252, 254) 100%);
    width: 92px;
    height: 92px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.business_circle img{
    width: 70%;
}
@keyframes shadow {
    0%{
        filter: drop-shadow(0 0 20px var(--light));
    }
    25%{
        filter: drop-shadow(0 0 20px var(--primar));
    }
    40%{
        filter: drop-shadow(0 0 20px var(--light));
    }
    55%{
        filter: drop-shadow(0 0 20px var(--secondary));
    }
    70%{
        filter: drop-shadow(0 0 20px var(--light));
    }
    85%{
        filter: drop-shadow(0 0 20px var(--success));
    }
    100%{
        filter: drop-shadow(0 0 20px var(--light));
    } 
}
.business_rectangle{
    width: 200px;
    height: 150px;
    border-radius: 15%;
    background: linear-gradient(45deg, rgb(7, 7, 7) 40%, rgb(130, 129, 129) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px white;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s linear;
}
.rec{
    background: linear-gradient(135deg, rgb(7, 7, 7) 50%, rgb(217, 217, 218) 100%);
    width: 192px;
    height: 142px;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.cintillo{
    width: 100%;
    height: .6rem;
    position: absolute;
    top: 0;
    background-color: var(--primary);
}
.rec h2{
    color: var(--primary);
    font-size: 1.3rem;
    position: absolute;
    top: .7rem;
    right: 2rem;
}
.business:hover .business_rectangle{
    opacity: 1;
}
.business:hover .business_circle{
    translate: -52px -52px;
    animation: none;
    box-shadow: none;
}

