:root {
    --primary: #43D682;
    --secondary: #5F58D6;
    --success: #D6CC32;
    --light: #FFFFFF;
    --dark: #000;
    --dark_sec: #1D4020;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.particles-js{
    width: 100%;
    height: 100vh;
    background-color: black;
}